

:host ::ng-deep .ck-editor__editable_inline {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  line-height: 1.25;
  border-radius: 0.25rem;
  background-color: #edf2f7;
}
:host ::ng-deep .ck-editor__editable_inline:focus{
  border-radius: 0.25rem;
}

