<div class="flex text-center flex-col w-full h-auto items-center">
  <h2 class="text-center my-2 mt-5 font-bold">Title: {{examUser?.exam?.title}}</h2>
  <div class="flex flex-row flex-wrap justify-center">
    <div class="my-2 mx-3">Course: {{examUser?.exam?.part?.course?.name}}</div>
    <div class="my-2 mx-3">Part: {{examUser?.exam?.part?.name}}</div>
  </div>
  <div class="my-2">This exam will open at {{examUser?.exam?.beginExam}}</div>
  <div class="my-2">This exam will close at {{examUser?.exam?.finishExam}}</div>
  <div class="my-2">Duration time: {{examUser?.exam?.durationExam}} min</div>
  <div class="flex justify-center my-5">
    <a *ngIf="examUser?.isStarted === false" [routerLink]="['./start']"
       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
      Start now
    </a>
    <a *ngIf="examUser?.isStarted=== true && examUser?.isFinished===false" [routerLink]="['./start']"
       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
      Resume
    </a>

  </div>

  <div *ngIf="examUser?.isFinished==true">
    <a [routerLink]="['./result']" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">View Result</a>
    <div class="my-8 bg-red-600 px-3 py-2 uppercase text-white font-semibold" >This exam was end!</div>

  </div>
</div>
