<form novalidate (ngSubmit)="updatePassword()" [formGroup]="rfPassword">
  <div class="-mx-3 md:flex flex-col mb-2 w-full">
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
             for="old-password">
        Old password <span class="mx-1 text-lg text-gray-700" (click)="togglePwd('hiddenOldPwd')">
        <i [ngClass]="hiddenOldPwd ? 'fa fa-eye-slash':'fa fa-eye'"></i>
      </span>
      </label>
      <input
        class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
        id="old-password"
        [type]="hiddenOldPwd? 'password':'text'"
        placeholder="********"
        autocomplete="off"
        formControlName="oldPassword"
        required
      >
      <p class="text-red-500 text-xs italic"
         *ngIf="oldPassword?.hasError('required') && oldPassword?.dirty"
      >This field must be not empty</p>
    </div>
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
             for="new-pwd-1">
        New password <span class="mx-1 text-lg text-gray-700" (click)="togglePwd('hiddenNewPwd')">
        <i [ngClass]="hiddenNewPwd ? 'fa fa-eye-slash':'fa fa-eye'"></i>
      </span>
      </label>
      <input
        class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
        id="new-pwd-1"
        [type]="hiddenNewPwd? 'password':'text'"
        placeholder="********"
        autocomplete="off"
        formControlName="newPassword"
        required
      >
      <ul>
        <li class="text-red-500 text-xs italic"
            *ngIf="newPassword?.hasError('pattern') && newPassword?.dirty"
        >Your password must contain at least one uppercase, or capital, letter, digit and minimum length is 8 characters </li>
        <li class="text-red-500 text-xs italic"
            *ngIf="rfPassword.hasError('passwordDuplicating') && confirmPassword.dirty">
          Duplicate password
        </li>
      </ul>

    </div>
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
             for="new-pwd-2">
        Confirm new password <span class="mx-1 text-lg text-gray-700" (click)="togglePwd('hiddenConfirmPwd')">
        <i [ngClass]="hiddenConfirmPwd ? 'fa fa-eye-slash':'fa fa-eye'"></i>
      </span>
      </label>
      <input
        class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
        id="new-pwd-2"
        [type]="hiddenConfirmPwd? 'password':'text'"
        placeholder="********"
        autocomplete="off"
        formControlName="confirmPassword"
        required
      >
      <ul>
        <li class="text-red-500 text-xs italic"
            *ngIf="confirmPassword?.hasError('pattern') && confirmPassword?.touched"
        >Your password must contain at least one uppercase, or capital, letter, digit and minimum length is 8 characters </li>
        <li class="text-red-500 text-xs italic"
            *ngIf="rfPassword.hasError('passwordConfirming') && confirmPassword.dirty">
          Password is not match</li>

      </ul>
    </div>
  </div>
  <div class="my-5 flex justify-end px-6">
    <button *ngIf="rfPassword.valid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
            type="submit">Change now
    </button>
  </div>
</form>
