<div class="font-sans antialiased h-screen bg-gray-300 w-full flex flex-row">

    <aside class="lg:w-1/5 bg-gray-900 lg:h-auto">
      <div class="mx-4 my-3">
        <div>
          <img class="h-6 lg:h-8 xl:h-9" src="../../assets/images/logo.svg" alt="Tailwind UI"/>
        </div>
      </div>
    </aside>
    <div class="lg:w-4/5 bg-gray-300 py-2 overflow-hidden overflow-y-scroll px-2">

        <div class="flex flex-wrap items-center justify-between mx-4 overflow-hidden">
          <div class="text-gray-600 text-2xl cursor-pointer">
            <i class="fa fa-bars"></i>
          </div>
          <div class="text-gray-600 text-2xl cursor-pointer">
            <i class="fa fa-user-circle"></i>
          </div>
        </div>
      <div class="px-5 py-4 m-6">
        <app-breadcrumbs></app-breadcrumbs>
        <div class="py-3">
          <div class="current-exam lg:text-lg font-semibold text-gray-800">
            <h3 class="px-2">Bài thi hiện tại</h3>
          </div>

          <div class="list-current-exam">
            
          </div>
        </div>

      </div>

    </div>
</div>
