<div class="font-sans antialiased h-screen bg-gray-300 w-full flex flex-row">

  <aside class="lg:w-1/5 bg-gray-900 lg:h-auto">
    <div class="mx-4 my-3">
      <div>
        <img class="h-6 lg:h-8 xl:h-9" src="../../assets/images/logo.svg" alt="Tailwind UI"/>
      </div>
    </div>
  </aside>
  <div class="lg:w-4/5 bg-gray-300 py-2 overflow-hidden overflow-y-scroll px-2">

    <div class="flex flex-wrap items-center justify-between mx-4 overflow-hidden">
      <div class="text-gray-600 text-2xl cursor-pointer">
        <i class="fa fa-bars"></i>
      </div>
      <div class="text-gray-600 text-2xl cursor-pointer">
        <i class="fa fa-user-circle"></i>
      </div>
    </div>
    <div class="px-5 py-4 m-6">
      <app-breadcrumbs></app-breadcrumbs>
<!--      <div class="py-3">-->
<!--        <div class="flex justify-between items-center mb-3 px-2">-->
<!--          <div class="current-exam lg:text-2xl font-semibold text-gray-800">-->
<!--            <h2 class=""><i class="fa fa-bookmark text-blue-600"></i> Bài thi đang diễn ra <span>(7)</span></h2>-->
<!--          </div>-->
<!--          <div class="flex text-sm flex-wrap">-->
<!--            <div-->
<!--              class="bg-gray-400 text-gray-600 rounded mr-1 px-3 py-1 hover:bg-gray-500 hover:text-gray-700 cursor-pointer">-->
<!--              <i class="fa fa-chevron-left"></i>-->
<!--            </div>-->
<!--            <div-->
<!--              class="bg-gray-400 text-gray-600 rounded px-3 py-1 hover:bg-gray-500 hover:text-gray-700 cursor-pointer">-->
<!--              <i class="fa fa-chevron-right"></i>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class="list-current-exam">-->
<!--          <app-list-current-exam></app-list-current-exam>-->
<!--        </div>-->

<!--      </div>-->

      <app-list-current-exam
        listTitle="Bài thi đang diễn ra"
        >

      </app-list-current-exam>
      <app-list-coming-exam
        listTitle="Bài thi sắp tới"
        listIcon="fa fa-bookmark text-blue-600"
      ></app-list-coming-exam>
      <app-list-complete-exam listTitle="Bài thi hoàn thành">

      </app-list-complete-exam>
    </div>

  </div>
</div>
