<div class="font-sans antialiased h-screen bg-gray-300 w-full flex flex-row">

<!--  <aside class="lg:w-1/5 bg-gray-900 lg:h-auto">-->
<!--    <div class="mx-4 my-3">-->
<!--      <div>-->
<!--        <img class="h-6 lg:h-8 xl:h-9" src="../../assets/images/logo.svg" alt="Tailwind UI"/>-->
<!--      </div>-->
<!--    </div>-->
<!--  </aside>-->
  <app-left-side></app-left-side>
  <div class="lg:w-4/5 bg-gray-300 py-2 overflow-hidden overflow-y-scroll">

    <div class="flex flex-wrap items-center justify-between mx-4 overflow-hidden">
      <div class="text-gray-600 text-2xl cursor-pointer">
        <i class="fa fa-bars"></i>
      </div>
      <div class="text-gray-600 text-2xl cursor-pointer flex items-center" (click)="signOut()">
        <span class="text-base mr-2">Thoát tài khoản</span>
        <i class="fa fa-sign-out"></i>

      </div>
    </div>
    <div class="px-5 py-4 m-6">
      <app-breadcrumbs></app-breadcrumbs>
      <!--  Start List    -->
      <app-list-current-exam [listTitle]="listCurrent.listTitle" [listIcon]="listCurrent.listIcon">
      </app-list-current-exam>
      <!--End List-->

      <!--  Start List    -->
      <app-list-coming-exam [listTitle]="listComing.listTitle" [listIcon]="listComing.listIcon">
      </app-list-coming-exam>
      <!--End List-->
      <!--  Start List    -->
      <app-list-complete-exam [listTitle]="listComplete.listTitle" [listIcon]="listComplete.listIcon">
      </app-list-complete-exam>
      <!--End List-->

    </div>
    <app-footer></app-footer>
  </div>
</div>
