  <div class="w-full lg:w-6/12 xl:w-3/12 px-4 my-2">
  <div
    class="cursor-pointer relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg hover:shadow-2xl">
    <div class="flex-auto p-4">
      <div class="flex flex-wrap">
        <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
          <h5 class="text-gray-700 uppercase font-bold text-sm cursor-pointer" [tooltip]="courseCard.courseName">
            <span>{{courseCard.courseCode}}</span>
          </h5>
          <span class="font-semibold text-xl text-gray-800">
                      {{courseCard.countExam}}
                    </span>
        </div>
        <div class="relative w-auto pl-4 flex-initial">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full"
            [style.background-color]="randColor">
            <i class="fa fa-book"></i>
          </div>
        </div>
      </div>
      <p class="text-sm text-gray-500 mt-4 flex justify-between">
        <ng-container [ngSwitch]="courseCard.compareLastWeek">
          <ng-template [ngSwitchCase]="1">
            <span class="text-green-500 mr-2">
                    <i class="fa fa-arrow-up p-1 rounded-full bg-green-200"></i> {{courseCard.changeRating}}%
                  </span>
          </ng-template>
          <ng-template [ngSwitchCase]="-1">
            <span class="text-red-500 mr-2">
                    <i class="fa fa-arrow-down p-1 rounded-full bg-red-200"></i> {{courseCard.changeRating}}%
                  </span>
          </ng-template>
          <ng-template [ngSwitchCase]="0">
            <span class="text-gray-500 mr-2">
                    <i class="fa fa-minus p-1 rounded-full bg-gray-200"></i> {{courseCard.changeRating}}%
                  </span>
          </ng-template>

        </ng-container>

        <span class="whitespace-no-wrap text-gray-600"> vs last week </span>
      </p>
    </div>
  </div>
</div>
