<button
  class="bg-white shadow-md hover:bg-blue-500 hover:text-gray-200 transition duration-200 ease-in-out text-xs font-bold uppercase rounded outline-none focus:outline-none px-2 py-1"
  type="button"
  (click)="toggleModalUpdate()"><span><i class="fa fa-edit"></i></span>
</button>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfUpdateUser">
  <div *ngIf="showModalUpdate"
       class="fixed inset-0 overflow-auto z-50 outline-none focus:outline-none justify-center flex">


    <div class="relative w-4/5 my-5 mx-auto max-w-2xl" style="margin-top: 2.5rem">
      <!--content-->
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full overflow-y-auto my-5 bg-white outline-none focus:outline-none"
        style="max-height: 90%">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
          <h3 class="text-2xl font-semibold">Cập nhật thông tin người dùng</h3>
          <button
            class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
            (click)="closeModal()">
              <span
                class="bg-transparent text-gray-700 opacity-5 h-3 w-3 text-base block outline-none focus:outline-none">
              <i class="fa fa-close"></i>
              </span>
          </button>
        </div>
        <!--body-->
        <div class="relative">
          <div
            class="my-4 px-8 text-gray-600 text-base leading-relaxed text-left flex-row flex flex-wrap justify-center lg:justify-start items-center">
            <div class="-mx-3 md:flex mb-2 w-full">
              <div class="md:w-full px-3">
                <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
                       for="frm-add-username">
                  Tên đăng nhập
                </label>
                <input
                  class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-400 leading-tight outline-none focus:border-green-500"
                  id="frm-add-username"
                  type="text"
                  autocomplete="off"
                  formControlName="username"
                  disabled
                >

              </div>
            </div>
            <div class="-mx-3 md:flex mb-2 w-full">
              <div class="md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                       for="frm-add-last-name">
                  Họ, tên đệm
                </label>
                <input
                  class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
                  id="frm-add-last-name" type="text" placeholder="Huỳnh Thanh"
                  autocomplete="off"
                  formControlName="lastName"
                  required
                >
                <p class="text-red-500 text-xs italic"
                   *ngIf="lastName?.hasError('required') && (lastName.dirty || lastName.touched)">
                  Họ, tên đệm không được bỏ trống</p>

              </div>
              <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                       for="frm-add-first-name">
                  Tên
                </label>
                <input
                  class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
                  id="frm-add-first-name" type="text" placeholder="Tâm"
                  autocomplete="off"
                  formControlName="firstName"
                  required
                >
                <p class="text-red-500 text-xs italic"
                   *ngIf="firstName?.hasError('required') && (firstName.dirty || firstName.touched)">
                  Tên không được bỏ trống</p>
              </div>

            </div>

            <div class="-mx-3 md:flex mb-2 w-full">
              <div class="md:w-full px-3">
                <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
                       for="email">
                  Email
                </label>
                <input
                  class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
                  id="email"
                  type="email"
                  placeholder="Nhập thông tin email"
                  autocomplete="off"
                  formControlName="email"
                  required
                >
                <p class="text-red-500 text-xs italic"
                   *ngIf="email?.hasError('required') && (email?.dirty || email?.touched)"
                >Email không được bỏ trống</p>
                <p class="text-red-500 text-xs italic"
                   *ngIf="email?.hasError('pattern') && (email?.dirty || email?.touched)"
                >Email không hợp lệ</p>
                <p class="text-red-500 text-xs italic"
                   *ngIf="email?.hasError('emailExists') && (email?.dirty || email.touched)">
                  Email đang thuộc tài khoản khác</p>
              </div>
            </div>
            <div class="-mx-3 md:flex mb-2 w-full">
              <div class="md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                       for="frm-add-password">
                  Mật khẩu
                </label>
                <input
                  class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
                  id="frm-add-password" type="password" placeholder="********"
                  autocomplete="off"
                  formControlName="password"
                >


              </div>
              <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                       for="confirm-password">
                  Nhập lại mật khẩu
                </label>
                <input
                  class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
                  id="confirm-password" type="password" placeholder="********"
                  autocomplete="off"
                  formControlName="confirmPass"
                >

              </div>


            </div>
            <div class="pass-validation">
              <ul>
                <li class="text-red-500 text-xs italic"
                    *ngIf="password?.hasError('pattern') && password?.dirty"
                >Mật khẩu cần có ít nhất 8 kí tự, bao gồm chữ cái và số, hoa, thường</li>
                <li class="text-red-500 text-xs italic"
                    *ngIf="rfUpdateUser.hasError('invalid') && confirmPass.dirty">
                  Mật khẩu không trùng khớp</li>
              </ul>

            </div>
          </div>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
          <button
            class="bg-white shadow-md hover:bg-blue-500 hover:text-blue-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
            type="submit"
            [disabled]="!rfUpdateUser.valid"
            *ngIf="rfUpdateUser.valid"
          ><span><i class="fa fa-refresh mr-1" [ngClass]="{'fa-spin': showLoading}"></i>Cập nhật</span>
          </button>
          <button
            class="shadow-md bg-gray-600 text-gray-100 hover:bg-gray-700 hover:text-gray-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
            type="button"
            (click)="closeModal()"><span><i class="fa fa-window-close mr-1"></i>Đóng</span>
          </button>


        </div>
      </div>
    </div>


  </div>
</form>
<div *ngIf="showModalUpdate" class="fixed inset-0 z-40 bg-smoke-light"></div>

