<!-- Navbar -->
<nav
  class="absolute top-0 left-0 w-full z-10 bg-blue-600items-center flex md:flex-row md:flex-no-wrap md:justify-start flex items-center p-4"
>
  <div
    class="w-full mx-auto items-center flex justify-between md:flex-no-wrap flex-wrap md:px-10 px-4"
  >
    <!-- Brand -->
    <a [routerLink]="['/admin/dashboard']"
      class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
    >Dashboard</a
    >
    <!-- Form -->
    <form
      class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3"
    >
      <div class="relative flex w-full flex-wrap items-stretch">
        <span
          class="z-10 h-full leading-snug font-normal absolute text-center text-gray-400 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"
        ><i class="fa fa-search"></i
        ></span>
        <input
          type="text"
          placeholder="Search here..."
          class="px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:shadow-outline w-full pl-10"
        />
      </div>
    </form>
    <!-- User -->
    <ul
      class="flex-col md:flex-row list-none items-center hidden md:flex"
    >
      <div class="text-gray-600 block">
        <div class="items-center flex cursor-pointer" (click)="toggleUserDropdown=!toggleUserDropdown">
          <span class="w-12 h-12 text-sm text-white bg-gray-300 inline-flex items-center justify-center rounded-full"
          >
            <img
              alt="..."
              class="w-full rounded-full align-middle border-none shadow-lg"
              src="{{avatarImg}}"
            />
          </span>
        </div>

        <ng-template [ngIf]="toggleUserDropdown">
          <div
            class="absolute bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"
            style="min-width:12rem; right: 1.8rem"

          >
            <a [routerLink]="['profile']"
               class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent  text-gray-800">
              Thông tin tài khoản
            </a>
           <hr class="w-full">
            <button (click)="signOut()"
                 class="text-left focus:outline-none hover:bg-gray-200 text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">
              Thoát
              <span class="text-gray-800"> <i class="fa fa-sign-out"></i> </span>
            </button>
          </div>
        </ng-template>


      </div>


    </ul>
  </div>

</nav>


