<button
  class="bg-white shadow-md hover:bg-blue-500 hover:text-blue-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mx-1 mb-1"
  type="button"
  (click)="toggleModalAdd()"><span><i class="fa fa-book mr-1"></i>Add new</span>
</button>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfCreateCourse">
  <div *ngIf="showModal"
       class="fixed inset-0 overflow-auto z-50 outline-none focus:outline-none justify-center flex">

    <div class="relative w-4/5 my-5 mx-auto max-w-2xl" style="margin-top: 2.5rem">
      <!--content-->
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full overflow-y-auto my-5 bg-white outline-none focus:outline-none"
        style="max-height: 90%">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
          <h3 class="text-2xl font-semibold">Tạo môn học mới</h3>
          <button
            class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
            (click)="closeModal()">
              <span
                class="bg-transparent text-gray-700 opacity-5 h-3 w-3 text-base block outline-none focus:outline-none">
              <i class="fa fa-close"></i>
              </span>
          </button>
        </div>
        <!--body-->
        <div class="relative">
          <div
            class="my-4 px-8 text-gray-600 text-base leading-relaxed text-left flex-row flex flex-wrap justify-center lg:justify-start items-center">
            <div class="-mx-3 md:flex mb-2 w-full">
              <div class="md:w-full px-3">
                <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
                       for="course-code">
                  Mã môn học
                </label>
                <input
                  class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
                  id="course-code"
                  type="text"
                  autocomplete="off"
                  formControlName="courseCode"
                  placeholder="Nhập mã môn học"
                >
                <p class="text-red-500 text-xs italic"
                   *ngIf="courseCode?.hasError('required') && (courseCode?.dirty || courseCode?.touched)"
                >Mã môn học không được bỏ trống</p>

                <p class="text-red-500 text-xs italic"
                   *ngIf="courseCode?.hasError('codeExists') && (courseCode?.dirty || courseCode.touched)">
                  Mã môn học bị trùng</p>
              </div>

            </div>

            <div class="-mx-3 md:flex mb-2 w-full">
              <div class="md:w-full px-3">
                <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
                       for="course-name">
                  Tên môn học
                </label>
                <input
                  class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
                  id="course-name"
                  type="text"
                  placeholder="Nhập tên môn học"
                  autocomplete="off"
                  formControlName="courseName"
                  required
                >
                <p class="text-red-500 text-xs italic"
                   *ngIf="courseName?.hasError('required') && (courseName?.dirty || courseName?.touched)"
                >Tên môn học không được bỏ trống</p>


              </div>
            </div>

          </div>
          <div class="my-4 px-8 text-gray-600 text-base leading-relaxed text-left flex-row flex flex-wrap justify-center lg:justify-start items-center">
            <input
              class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-blue-500"
              type="file"
              accept="image/*"
              placeholder="Chọn hình ảnh"
              autocomplete="off"
              required
              (change)="selectFile($event)"
            >
          </div>

        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
          <button
            class="bg-white shadow-md hover:bg-blue-500 hover:text-blue-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
            type="submit"
            [disabled]="!rfCreateCourse.valid"
            *ngIf="rfCreateCourse.valid"
          ><span><i class="fa fa-refresh mr-1"></i>Cập nhật</span>
          </button>
          <button
            class="shadow-md bg-gray-600 text-gray-100 hover:bg-gray-700 hover:text-gray-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
            type="button"
            (click)="closeModal()"><span><i class="fa fa-window-close mr-1"></i>Đóng</span>
          </button>


        </div>
      </div>
    </div>


  </div>
</form>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-smoke-light"></div>
