$accentColor: #0c5d7d;
$lightColor: #fff;
$darkColor: #444;
.modal-body{
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

:host ::ng-deep .ck-editor__editable {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #edf2f7;
}

.radio-type {
  margin: 2px 10px
}

form {
  max-width: 250px;
  position: relative;
  margin: 50px auto 0;
  font-size: 15px;
}

.radio-btn {
  position: relative;
  display: block;

  label {
    display: block;
    background: lighten($accentColor, 50%);
    color: $darkColor;
    border-radius: 5px;
    padding: 6px 20px;
    border: 2px solid lighten($accentColor, 20%);
    margin-bottom: 5px;
    cursor: pointer;

    &:after,
    &:before {
      content: "";
      position: absolute;
      right: 11px;
      top: 11px;
      width: 20px;
      height: 20px;
      border-radius: 11px;
      background: lighten($accentColor, 15%);
    }

    &:before {
      transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
      0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
      z-index: 2;
      overflow: hidden;
      background-size: 13px;
      width: 0;
      height: 0;
      background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+) no-repeat center;
    }
  }

  input[type="radio"] {
    display: none;
    position: absolute;
    width: 90%;
    appearance: none;

    &:checked + label {
      background: lighten($accentColor, 15%);
      color: $lightColor;
      animation-name: blink;
      animation-duration: 1s;
      border-color: lighten($accentColor, 5%);

      &:after {
        background: $accentColor;
      }

      &:before {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@keyframes blink {
  0% {
    background-color: lighten($accentColor, 15%);
  }
  10% {
    background-color: lighten($accentColor, 15%);
  }
  11% {
    background-color: lighten($accentColor, 20%);
  }
  29% {
    background-color: lighten($accentColor, 20%);
  }
  30% {
    background-color: lighten($accentColor, 15%);
  }
  50% {
    background-color: lighten($accentColor, 20%);
  }
  45% {
    background-color: lighten($accentColor, 15%);
  }
  50% {
    background-color: lighten($accentColor, 20%);
  }
  100% {
    background-color: lighten($accentColor, 15%);
  }
}

.check-box-btn {
  @extend .radio-btn;

  input[type="checkbox"] {
    display: none;
    position: absolute;
    width: 90%;
    appearance: none;

    &:checked + label {
      background: lighten($accentColor, 15%);
      color: $lightColor;
      animation-name: blink;
      animation-duration: 1s;
      border-color: lighten($accentColor, 5%);

      &:after {
        background: $accentColor;
      }

      &:before {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.check-box-btn label.check-box {
  @extend label;

  &:before, &:after {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: lighten($accentColor, 15%);
  }

  &:before {
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s,
    0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-size: 13px;
    width: 0;
    height: 0;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+) no-repeat center;
  }

}


