<button
  class="bg-white shadow-md hover:bg-blue-500 hover:text-blue-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mx-1 mb-1"
(click)="toggleModal()"
><span><i class="fa fa-user-plus mr-1"></i>Add new</span>
</button>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfAdd">
  <div *ngIf="showModal"
       class="fixed inset-0 overflow-auto z-50 outline-none focus:outline-none justify-center flex">
    <div class="relative w-4/5 my-5 mx-auto max-w-4xl" style="margin-top: 2.5rem">
      <!--content-->
      <div
        class="border-0 rounded-lg shadow-lg relative flex flex-col w-full overflow-y-auto my-5 bg-white outline-none focus:outline-none"
        style="max-height: 90%">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
          <h3 class="text-2xl font-semibold">Thêm câu hỏi</h3>

          <button
            class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="closeModal()"
          >
              <span
                class="bg-transparent text-gray-700 opacity-5 h-3 w-3 text-base block outline-none focus:outline-none">
              <i class="fa fa-close"></i>
              </span>
          </button>
        </div>
        <!--body-->
        <div class="flex flex-wrap px-3">
          <div class="w-full">
            <!--            <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">-->
            <!--              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center"><a-->
            <!--                class="text-xs font-bold uppercase px-5 py-3 hover:shadow-md rounded block leading-normal cursor-pointer" (click)="toggleTabs(1)"-->
            <!--                [ngClass]="{'text-blue-600 bg-white': openTab !== 1, 'text-white bg-blue-600': openTab === 1}"> <i-->
            <!--                class="fa fa-user-circle text-base mr-1"></i> Profile </a></li>-->
            <!--              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center"><a-->
            <!--                class="text-xs font-bold uppercase px-5 py-3 hover:shadow-md rounded block leading-normal cursor-pointer" (click)="toggleTabs(2)"-->
            <!--                [ngClass]="{'text-blue-600 bg-white': openTab !== 2, 'text-white bg-blue-600': openTab === 2}"> <i-->
            <!--                class="fa fa-upload mr-1"></i> Import </a></li>-->

            <!--            </ul>-->
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 rounded">
              <div class="px-4 py-5 pb-0 flex-auto">
                <div class="tab-content tab-space">

                  <div class="relative">
                    <div
                      class="my-4 px-8 text-gray-600 text-base leading-relaxed text-left flex-row flex flex-wrap justify-center lg:justify-start items-center">
                      <div class="-mx-3 md:flex mb-2 w-full">
                        <div class="md:w-1/2 px-3">
                          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                          >
                            Môn học
                          </label>
                          <select (change)="changeCourse($event)"
                                  class="block appearance-none w-full bg-gray-200 py-2 px-3 my-1 mt-3 pr-4 rounded shadow leading-tight focus:outline-none">
                            <option value="">-- please choose course --</option>
                            <option *ngFor="let course of courseList" [value]="course.id" [selected]="course.id === selectedCourseId">{{course.name}}</option>

                          </select>

                        </div>
                        <div class="md:w-1/2 px-3">
                          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                          >
                            Nội dung
                          </label>
                          <select (change)="changePart($event)"
                                  class="block appearance-none w-full bg-gray-200 py-2 px-3 my-1 mt-3 pr-4 rounded shadow leading-tight focus:outline-none">
                            <option value="">-- please choose part --</option>
                            <option *ngFor="let part of partList" [selected]="part.id===selectedPartId" [value]="part.id">{{part.name}}</option>

                          </select>

                        </div>

                      </div>
                      <div class="-mx-3 md:flex mb-2 w-full">
                        <div class="md:w-full px-3">
                          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2"
                          >
                            Độ khó
                          </label>
                          <select  formControlName="difficultyLevel" name=""
                                  class="block appearance-none w-full bg-gray-200 py-2 px-3 my-1 mt-3 pr-4 rounded shadow leading-tight focus:outline-none">
                            <option value="">-- please choose difficulty level --</option>
                            <option>Easy</option>
                            <option>Medium</option>
                            <option>Hard</option>
                          </select>
                        </div>
                      </div>

                      <div class="-mx-3 md:flex mb-2 w-full">
                        <div class="md:w-full px-3">
                          <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
                                 >
                            Nội dung câu hỏi
                          </label>
<!--                          <input-->
<!--                            class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"-->
<!--                            id="frm-add-username"-->
<!--                            type="text"-->
<!--                            placeholder="Nhập nội dung"-->
<!--                            autocomplete="off"-->
<!--                            formControlName="questionText"-->
<!--                            required-->
<!--                          >-->
                          <app-rich-editor></app-rich-editor>
                        </div>
                      </div>

                      <div class="-mx-3 md:flex mb-2 w-full">
                        <div class="md:w-full px-3">
                          <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
                                 for="frm-add-username">
                            Email
                          </label>
                          <input
                            class="appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
                            id="frm-add-email"
                            type="email"
                            placeholder="Nhập thông tin email"
                            autocomplete="off"

                            required
                          >

                        </div>
                      </div>
                    </div>
                  </div>
                  <!--footer-->
                  <div class="flex items-center justify-end p-6 pb-0 border-t border-solid border-gray-300 rounded-b">
                    <button
                      class="bg-white shadow-md hover:bg-blue-500 hover:text-blue-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
                      type="submit"
                      [disabled]="!rfAdd.valid"
                      *ngIf="rfAdd.valid"
                    ><span><i class="fa fa-user-plus mr-1"></i>Tạo user</span>
                    </button>
                    <button
                      class="shadow-md bg-gray-600 text-gray-100 hover:bg-gray-700 hover:text-gray-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
                      type="button" (click)="closeModal()"
                      ><span><i class="fa fa-window-close mr-1"></i>Đóng</span>
                    </button>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div *ngIf="showModal" class="fixed inset-0 z-40 bg-smoke-light"></div>
