<button
  class="bg-white shadow-md hover:bg-red-500 hover:text-red-200 transition duration-200 ease-in-out text-xs font-bold uppercase rounded outline-none focus:outline-none px-2 py-1"
  type="button"
  (click)="toggleModalDelete()"><span><i class="fa fa-trash"></i></span>
</button>
<div *ngIf="showModalDelete"
     class="fixed inset-0 overflow-auto z-50 outline-none focus:outline-none justify-center flex">
  <div class="relative w-4/5 my-5 mx-auto max-w-2xl" style="margin-top: 2.5rem">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full overflow-y-auto my-5 bg-white outline-none focus:outline-none"
      style="max-height: 90%">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
        <h3 class="text-2xl font-semibold">Thông tin người dùng</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="closeModal()">
              <span class="bg-transparent text-gray-700 opacity-5 h-3 w-3 text-base block outline-none focus:outline-none">
              <i class="fa fa-close"></i>
              </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 ">
        <div class="my-4 px-8 text-gray-600 text-base leading-relaxed text-left flex-row flex flex-wrap justify-center lg:justify-start items-center">
          Người dùng <b class="mx-1 px-2 bg-gray-200 rounded">{{userInfo?.username}}</b> sẽ được xoá tạm, bạn có thể khôi phục lại.
        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
        <button
          class="bg-white shadow-md hover:bg-red-500 hover:text-red-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
          type="button"
          (click)="confirmDelete(userInfo.id)"><span><i class="fa fa-trash mr-1"></i>Có, xoá ngay</span>
        </button>
        <button
          class="shadow-md bg-gray-600 text-gray-100 hover:bg-gray-700 hover:text-gray-200 transition duration-200 ease-in-out text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
          type="button"

          (click)="closeModal()"><span><i class="fa fa-window-close mr-1"></i>Để xem lại</span>
        </button>


      </div>
    </div>
  </div>
</div>
<div *ngIf="showModalDelete" class="fixed inset-0 z-40 bg-smoke-light"></div>
