<div class="w-full py-5">
  <div class="flex justify-between px-4 py-4 bg-white shadow-lg rounded-md sticky z-30" style="top: -8px">
    <div>Timer: <span class="font-bold text-xl">{{counter | formatTime}}</span></div>
    <div class="">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="showModal()">
        Submit
      </button>
    </div>

  </div>
  <ng-container *ngFor="let ques of questions; let i = index">
    <div class="my-12 mx-4 flex flex-row">
      <div class="w-48 bg-gray-300 mx-4 px-2 py-2 h-32 rounded-md ml-0 flex flex-col select-none items-center">
        <div class="font-bold text-gray-600 text-xl my-2">Question {{i + 1}}</div>
        <div class="text-gray-600 text-sm">Difficult:
          <ng-container [ngSwitch]="ques.difficultyLevel">
            <ng-template [ngSwitchCase]="'EASY'">
              <span class="px-2 py-1 my-2 rounded-md bg-green-300 text-green-600 text-sm font-semibold">Easy</span>
            </ng-template>
            <ng-template [ngSwitchCase]="'MEDIUM'">
              <span
                class="px-2 py-1 my-2 rounded-md bg-gray-400 text-gray-600 text-sm font-semibold">Medium</span>
            </ng-template>
            <ng-template [ngSwitchCase]="'HARD'">
              <span
                class="px-2 py-1 my-2 rounded-md bg-red-300 text-red-600 text-sm font-semibold">Hard</span>
            </ng-template>
          </ng-container>
        </div>
        <div class="py-2 text-gray-600">{{ques.point}} pts</div>
      </div>
      <div class="bg-gray-300 rounded-md shadow-lg px-8 py-6 w-full">
        <div class=""><span class="font-bold">Q {{i + 1}}: </span>
          <p class="select-none" [innerHTML]="ques.questionText"></p>
        </div>
        <div class="h-auto">
          <div class="my-5 font-semibold text-blue-600 select-none">Select your answer<span
            *ngIf="ques.questionType.typeCode==='MS'">s</span>
          </div>

          <!--        Answer-->
          <ng-container *ngFor="let choice of ques.choices">
            <ng-container [ngSwitch]="ques.questionType.typeCode">
              <ng-template [ngSwitchCase]="'TF'">
                <div class="flex">
                  <div class="radio-type flex-1">
                    <div class="radio-btn">
                      <input type="radio" id="true-{{choice.id}}"
                             name="choicesTF-{{ques.id}}" value="True"
                             (change)="selectAnswerTF($event, ques.id)"
                             [checked]="choice.choiceText=='True' && choice.isCorrected==1"/>
                      <label class="select-none" for="true-{{choice.id}}">True</label>
                    </div>
                  </div>

                  <div class="radio-type flex-1">
                    <div class="radio-btn">
                      <input type="radio" id="false-{{choice.id}}"
                             name="choicesTF-{{ques.id}}" value="False"
                             (click)="selectAnswerTF($event, ques.id)"
                             [checked]="choice.choiceText=='False' && choice.isCorrected==1"
                      />
                      <label class="select-none" for="false-{{choice.id}}">False</label>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template [ngSwitchCase]="'MC'">
                <div class="flex flex-col">
                  <div class="w-full my-1">
                    <div class="flex">
                      <div class="radio-type w-full">
                        <div class="radio-btn">
                          <input type="radio" name="mcChoices-{{ques.id}}"
                                 (change)="selectedAnswerMC($event, ques.id, choice.id)" id="mc-{{choice.id}}"
                                 [checked]="choice.isCorrected==1">
                          <label class="select-none" for="mc-{{choice.id}}" [innerHTML]="choice.choiceText"></label>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </ng-template>
              <ng-template [ngSwitchCase]="'MS'">
                <div class="flex flex-col">
                  <div class="w-full my-1">
                    <div class="flex my-1">
                      <div class="radio-type w-full">
                        <div class="check-box-btn">
                          <input type="checkbox" name="msChoices-{{choice.id}}"
                                 id="ms-{{choice.id}}"
                                 (change)="selectedAnswerMS($event, ques.id, choice.id)"
                                 [checked]="choice.isCorrected==1"
                          >
                          <label for="ms-{{choice.id}}" class="check-box select-none"
                                 [innerHTML]="choice.choiceText"></label>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>


        </div>
      </div>
    </div>
  </ng-container>
  <hr class="w-full my-3">
  <p class="text-center font-bold end-text">END</p>
</div>


<div *ngIf="toggleModal" class="fixed inset-0 z-40 bg-smoke-light"></div>
<div *ngIf="toggleModal"
     class="fixed inset-0 overflow-auto z-50 outline-none focus:outline-none justify-center flex">

  <div class="relative w-4/5 my-5 mx-auto max-w-2xl" style="margin-top: 2.5rem">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full overflow-y-auto my-5 bg-white outline-none focus:outline-none"
      style="max-height: 90%">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
        <h3 class="text-2xl font-semibold">Comfirm to submit?</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="closeModal()">
              <span
                class="bg-transparent text-gray-700 opacity-5 h-3 w-3 text-base block outline-none focus:outline-none">
              <i class="fa fa-close"></i>
              </span>
        </button>
      </div>
      <!--body-->
      <div class="relative">

        <div
          class="my-4 px-8 text-gray-600 text-base leading-relaxed text-left flex-row flex flex-wrap lg:justify-start items-center">
          <ng-container *ngFor="let c of choicesSelected; let i =index">
            <div class="w-12 h-12 rounded-full  mx-2 my-2 relative flex justify-center items-center"
                 [ngClass]="c.selected === true? 'bg-blue-500 text-white': 'bg-blue-200'">
              <label class="absolute">{{i + 1}}</label>
            </div>

          </ng-container>

        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
        <button class="mx-1 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" (click)="submit()">
          Submit
        </button>
        <button class=" mx-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                (click)="closeModal()">
          Cancel
        </button>
      </div>
    </div>
  </div>


</div>
