.avatar {

  width: 100px;
  height: 100px;
  border-radius: 50%;
}
:host ::ng-deep .xng-breadcrumb-item{
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #e2e8f0;
  border-radius: 0.25rem;

}
